.card-wrapper {
    display: flex;
    flex-wrap: wrap
}

.youtube-wrapper {
    height: 740px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    position: fixed;
    left: 1470px;
    top: 180px;
}

.filter-wrapper {
    display: flex;
    position: fixed;  
	top: 0;  
	z-index: 100;  
	width: 100%; 
}

.container {
    margin-top: 60px;
}

.counter {
    position: fixed;
    top: 52px;
    left: 20px;
    @import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');
    font-family: 'Road Rage', cursive;
    font-size:  35px;
    overflow: hidden;
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
}

@keyframes typing {
from { width: 0 }
to { width: 294px }
}

@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: orange }
}

