#inputGroup-sizing-lg {
    background: linear-gradient(149deg, rgb(63, 233, 202) 0%, rgb(241, 119, 225) 42%, rgb(67, 161, 238) 72%, rgba(115,53,134,1) 100%);
    animation: gradient 10s infinite linear; 
    background-size: 400%;
}

@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}

