h1 {
    @import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');
    font-family: 'Road Rage', cursive;
    font-size:  50px;
    color: rgb(94, 17, 30);
}

.card-genre {
    @import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');
    font-family: 'Road Rage', cursive;
    font-size:  25px;
}

.card-grade {
    @import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');
    font-family: 'Road Rage', cursive;
    font-size:  25px;
}

.card {
    width: 350px;
    padding-bottom: 100px;
}

.margin {
    margin-bottom: 20px;
}