select {
    height: 48px;
}

.option-header {
    background: linear-gradient(149deg, rgb(118, 233, 212) 0%, rgb(241, 160, 231) 42%, rgb(100, 175, 236) 72%, rgba(115,53,134,1) 100%);
    animation: gradient 10s infinite linear;
    background-size: 400%; 
}

@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}
