.form-dialog {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 800px;
    left: 70px;
    cursor: pointer;
    z-index:99990;
    -moz-border-radius:50% !important;
    -webkit-border-radius:50% !important;
    border-radius:50% !important;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    -webkit-animation: zcwmini 1.5s 0s ease-out infinite;
    -moz-animation: zcwmini 1.5s 0s ease-out infinite;
    animation: zcwmini 1.5s 0s ease-out infinite;
}

.form-dialog .plus {
    font-size: 51px;
    position: fixed;
    top: 787px;
}


.form-dialog:hover {
    opacity:0.8;
}

.form-dialog:hover {
    -webkit-animation:zcwmini2 1s 0.4s ease-out infinite;
    -moz-animation: zcwmini2 1s 0.4s ease-out infinite;
    animation: zcwmini2 1s 0.4s ease-out infinite;
}

.form-dialog:hover .form-dialog:before {
    -webkit-animation: zcwphone2 1s linear infinite;
    -moz-animation: zcwphone2 1s linear infinite;
    animation: zcwphone2 1s linear infinite;
}

@-webkit-keyframes zcwmini {
    0% {box-shadow: 0 0 8px 6px rgba(10, 59, 219, 0), 0 0 0 0 rgba(39, 17, 231, 0), 0 0 0 0 rgba(31, 17, 230, 0);}
    10% {box-shadow: 0 0 8px 6px rgb(41, 6, 241), 0 0 12px 10px rgba(19, 40, 230, 0), 0 0 0 0 rgb(18, 21, 218);}
    100% {box-shadow: 0 0 8px 6px rgba(37, 14, 240, 0), 0 0 0 40px rgba(40, 43, 223, 0), 0 0 0 40px rgba(38, 17, 219, 0);}
}
@-moz-keyframes zcwmini {
    0% {box-shadow: 0 0 8px 6px rgba(10, 59, 219, 0), 0 0 0 0 rgba(39, 17, 231, 0), 0 0 0 0 rgba(31, 17, 230, 0);}
    10% {box-shadow: 0 0 8px 6px rgb(41, 6, 241), 0 0 12px 10px rgba(19, 40, 230, 0), 0 0 0 0 rgb(18, 21, 218);}
    100% {box-shadow: 0 0 8px 6px rgba(37, 14, 240, 0), 0 0 0 40px rgba(40, 43, 223, 0), 0 0 0 40px rgba(38, 17, 219, 0);}
}
@keyframes zcwmini {
    0% {box-shadow: 0 0 8px 6px rgba(10, 59, 219, 0), 0 0 0 0 rgba(39, 17, 231, 0), 0 0 0 0 rgba(31, 17, 230, 0);}
    10% {box-shadow: 0 0 8px 6px rgb(41, 6, 241), 0 0 12px 10px rgba(19, 40, 230, 0), 0 0 0 0 rgb(18, 21, 218);}
    100% {box-shadow: 0 0 8px 6px rgba(37, 14, 240, 0), 0 0 0 40px rgba(40, 43, 223, 0), 0 0 0 40px rgba(38, 17, 219, 0);}
}
@-webkit-keyframes zcwmini2 {
    0% {box-shadow: 0 0 8px 6px rgba(10, 59, 219, 0), 0 0 0 0 rgba(39, 17, 231, 0), 0 0 0 0 rgba(31, 17, 230, 0);}
    10% {box-shadow: 0 0 8px 6px rgb(41, 6, 241), 0 0 12px 10px rgba(19, 40, 230, 0), 0 0 0 0 rgb(18, 21, 218);}
    100% {box-shadow: 0 0 8px 6px rgba(37, 14, 240, 0), 0 0 0 40px rgba(40, 43, 223, 0), 0 0 0 40px rgba(38, 17, 219, 0);}
}
@-moz-keyframes zcwmini2 {
    0% {box-shadow: 0 0 8px 6px rgba(10, 59, 219, 0), 0 0 0 0 rgba(39, 17, 231, 0), 0 0 0 0 rgba(31, 17, 230, 0);}
    10% {box-shadow: 0 0 8px 6px rgb(41, 6, 241), 0 0 12px 10px rgba(19, 40, 230, 0), 0 0 0 0 rgb(18, 21, 218);}
    100% {box-shadow: 0 0 8px 6px rgba(37, 14, 240, 0), 0 0 0 40px rgba(40, 43, 223, 0), 0 0 0 40px rgba(38, 17, 219, 0);}
}
@keyframes zcwmini2 {
    0% {box-shadow: 0 0 8px 6px rgba(10, 59, 219, 0), 0 0 0 0 rgba(39, 17, 231, 0), 0 0 0 0 rgba(31, 17, 230, 0);}
    10% {box-shadow: 0 0 8px 6px rgb(41, 6, 241), 0 0 12px 10px rgba(19, 40, 230, 0), 0 0 0 0 rgb(18, 21, 218);}
    100% {box-shadow: 0 0 8px 6px rgba(37, 14, 240, 0), 0 0 0 40px rgba(40, 43, 223, 0), 0 0 0 40px rgba(38, 17, 219, 0);}
}

#genre {
    width: 233px;
}

#rating {
    width: 233px;
}